APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = testUSERNAME = usernamePASSWORD = passwordHOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn[QINIU]QINIU_ACCESS_KEY = cMKktXj_aXVpxU1wHdzrm4K59XVxho6YKPXEetnrQINIU_SECRET_KEY = GkAwKfISZFv_Qv_J7xwE6RDjdUjPmLZY08W4VsczQINIU_BUCKET = jzt_blogQINIU_DOMAIN = http://jzt_blog.s3-cn-south-1.qiniucs.com